body{
    margin: 0 !important;
}

.navpadrao{
    background-color: #0057DF  !important;
}

.agendaapp{
    position: absolute;
    font-family: 'Black Han Sans';
    font-style: normal;
    font-weight: 700 !important;
    font-size: 35px !important;
    line-height: 20px;
    color: #FFFFFF;
}
.nav-link{
    font-weight: 600 !important;
    color: #FFFFFF !important;
    
}

.active{
    color: #FFB800 !important;
}

.itemactive{
    border-bottom: 4px #FFB800 solid;
}
ul{
    margin: 0 !important;
}

.mg-0{
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    height: 100% !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.navli{
    padding: 2% 0 !important;
}